.button {
    display: inline-block;
    text-decoration: none;
    position: relative;
}

.button .bottom {
    position: absolute;
    left: 7px;
    top: 7px;
    width: 100%;
    height: 100%;
    background-color: #4adeb5;
    display: block;
    -webkit-transition: all .15s ease-out;
    -moz-transition: all .15s ease-out;
    -o-transition: all .15s ease-out;
    transition: all .15s ease-out;
}

.button .top {
    position: relative;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    padding: 20px 9px 16px 15px;
    border: 2px solid #373736;
}

.button-dark .top {
    border: 2px solid #373736;
}

.button .top .label {
    font-weight: 600;
    color: #373736;
    font-size: 17px;
    line-height: 50%;
    letter-spacing: 1px;
    text-align: center;
    text-transform: uppercase;
    -webkit-transition: all .15s ease-out;
    -moz-transition: all .15s ease-out;
    -o-transition: all .15s ease-out;
    transition: all .15s ease-out;
}

.button-dark .top .label {
    color: #302D2F;
}

.button:hover .bottom {
    left: 0;
    top: 0;
    background-color: #373736;
}

.button:hover .top .label {
    color: #4adeb5;
}

.buttonborder {
    position: absolute;
    background-color: #4adeb5;
    -webkit-transition: all .25s ease-out;
    -moz-transition: all .25s ease-out;
    -o-transition: all .25s ease-out;
    transition: all .25s ease-out;
}

.button:hover .top .buttonborderleft,.button:hover .top .buttonborderright {
    height: calc(100% + 2px);
}

.button:hover .top .buttonbordertop,.button:hover .top .buttonborderbottom {
    width: calc(100% + 2px);
}

.buttonborderleft {
    left: -2px;
    bottom: -2px;
    width: 2px;
    height: 0;
}

.buttonbordertop {
    left: -2px;
    top: -2px;
    width: 0;
    height: 2px;
}

.buttonborderright {
    right: -2px;
    top: -2px;
    width: 2px;
    height: 0;
}

.buttonborderbottom {
    right: -2px;
    bottom: -2px;
    width: 0;
    height: 2px;
}
