footer {
    padding: 3em 0 2em;
}
svg:hover {
    fill: #4ADEB5;
    cursor: pointer;
    transition-duration: 200ms;
    transition-property: fill;
    transition-timing-function: ease-out;
}

p.line {
    width: 100%; 
    text-align: center; 
    border-bottom: 1px solid black; 
    line-height: 0.1em;
    margin: 10px 0 20px; 
 } 
.menu {
    display: flex;
}
ul.menu li:hover a {
    color: #4ADEB5;
}
.link-black {
    color: black;
}
.link-white {
    color: #fff;
}

@media (max-width: 1000px) {
    .flexcontainer {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .link {
        margin: 0 1em 0;
        text-decoration: none;
        font-size: 0.8em;
    }
    
    .icons {
        margin: 0 1em 0;
    }
    .menu {
        padding: 0;
    }
    .menu li {
        text-indent: -13px;
        padding: 0 1em;
    }
    .logo {
        margin: auto 0 1em;
        max-width: 6em; 
    }
}

@media (min-width: 1000px) {
.icons {
    margin: 0 1em 0;
}
.link {
    margin: 0 1em 0;
    text-decoration: none;
    font-size: 0.8em;
}
.flexcontainer {
    display: flex;
    justify-content: space-between;
}
.logo {
    margin: auto 0;
    max-width: 6em; 
}
}